/***DEBUG***/
// .infos-header {background-color: #ccc;}
// .buttons-wrapper {background-color: blue;}
// .button{background-color: orange;}
// .infos-body{background-color: #aaa;}
// .image-caption {background-color: red;}
// .page-description{background-color: green;}
// .section-index {background-color: #ccc;}

/**GENERAL LESS**/

body {
	font-family: @basefont;
    font-weight: lighter;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	// font-size: 1vmax;
}

#viewport {
    // left: @menuOffW !important;
		// margin-left: @menuOffW;
}

a, a:link, a:hover, a:visited {
	color: @textcolor;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.menu.on .open-menu,
.menu.on .menu-label,
.menu.on .button-open,
.menu.off .lang-switcher,
.menu.off .social,
.menu.off .button-close
 {
    display: none;
}

.menu.off .open-menu,
.menu.on .lang-switcher,
.menu.on .social {
    display: block;
}

// .menu.off .menu-label {
//     display: flex;
// }

// .menu.on ~ #viewport {
// left: @menuW !important;
// }

// .menu.off ~ #viewport {
// left: @menuOffW !important;
// }

// .button {

    // &.open-menu {
    //     width: @menuOffW;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     z-index: 1000;
    //     cursor: pointer;
    // }
// }

.menu{
	position: absolute;
	// top: -@menuOffW;
	// bottom: -30px;
	left: @menuOff;
	width: @menuW;
	height: 100vh;
	background-color: @menubackcolor;
	// opacity: 0.8;
	// border-right: 1px dotted @grey-light;
	z-index: 100;
	    // -webkit-box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
	    // -moz-box-shadow:    0px 0px 10px 1px rgba(50, 50, 50, 0.75);
	    // box-shadow:         0px 0px 10px 1px rgba(50, 50, 50, 0.75);

		.menu-content{
			  padding: @menuOffW;
		}

		.close-menu {
				// display:block;
				// 	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
				// 	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
				// 	-o-transform:matrix(-1, 0, 0, 1, 0, 0);
				position: absolute;
				top: 0px;
				right: 0px;
				height: 100%;
				width: @menuOffW;
				padding: 5px;
				cursor: pointer;
				display: flex;
				align-items: center;
		}

    .menu-label {
        position: absolute;
        bottom: 5px;
        top: 0;
        right: 0;
        width: @menuOffW;
        display: flex;
        justify-content: space-around;

        .menu-title {
            color: @grey-medium;
            word-break: break-all;
            position: absolute;
            font-size: 24px;
            line-height: 34px;
            width: 20px;
            text-align: center;
            bottom: 40px;
        }

        .open-menu {
            position: absolute;
            top: 50vh;
						padding: 5px;
						display: none;
        }
    }

	.album-title {
				font-size: 30px;
				line-height: 85%;
    		margin-bottom: @menuOffW / 2;
	}

	.album-infos {
        color: @grey-dark;
				font-size: 13px;
    		line-height: 125%;
    		letter-spacing: 0.02em;
				margin-bottom: @menuOffW / 2;
	}

	.contact {
				font-size: 13px;
				line-height: 125%;
				letter-spacing: 0.02em;
	}
	.section-menu {
		// width: calc(~"100% - 4 * @{margin}");
        margin-top: @margin * 2;

			.menu-items {
	            font-family: @basefont;
	            font-size: 14px;
	            letter-spacing: 1px;
	            color: @grey-medium;
							margin: @margin / 4 0;
							cursor: pointer;
	            display: flex;
	            align-items: center;

	            &:hover {color: @black;}

	            &.active {
								color: #000;
								font-weight: bold;
								&:before {
									content: '-';
									margin-right: 0.5em;
								}
							}
			}
    }
}



.page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;

	.images-slider {
		position: absolute;
		top: 0;
		right: 0;
		// bottom: @infosHeaderH;
		bottom: @infosWrapH-des;
		left:0;

        .slider-image {
            // padding-right: @menuOffW;
            background-color: #fff;
            &:last-child {
                padding: 0px;
                // -webkit-box-shadow: 11px 3px 20px 0px rgba(50, 50, 50, 0.75);
                //    -moz-box-shadow: 11px 3px 20px 0px rgba(50, 50, 50, 0.75);
                //         box-shadow: 11px 3px 20px 0px rgba(50, 50, 50, 0.75);
                background-blend-mode: multiply;
            }
        }

		.image-nav {
			width: 33vw;
			height: 100%;
			position: absolute;
			z-index: 1;
			cursor: pointer;
            padding: @margin;

			&.previous {
                left: 0;
                // background: url("svg/sucre/fleche_charli_gauche.svg") center left no-repeat;
            }
			&.next{
                right: 0;
                // background: url("svg/sucre/fleche_charli_droite.svg") center right no-repeat;
            }
		}
	}

	.infos-wrapper {
		height: @infosHeaderH;
		overflow: hidden;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;

        @keyframes infosOff {
            from {height: @infosWrapH-des;}
              to {height: @infosHeaderH;}
        }

        @keyframes infosOn {
            from {height: @infosHeaderH;}
              to {height: @infosWrapH-des;}
        }

        &.on {
            animation-name: infosOn;
            animation-duration: @animDuration;
            height: @infosWrapH-des;
        }
        &.off {
            animation-name: infosOff;
            animation-duration: @animDuration;
            height: @infosHeaderH;
        }

		.infos-header {
			min-height: @infosHeaderH;

			// .buttons-wrapper {
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	width: @menuW;
			// 	height: @infosHeaderH;
      //           padding-left: @margin;
			// }


			.infos-teaser {
				width: calc(~"100vw - @{menuW} - @{margin}");
				// margin-left: calc(~"@{menuW} + @{margin}");
				height: @menuOffW;
				display: flex;
				align-items: center;

				& > * {
					padding:  0 @margin / 8;
					display: inline-block;
					text-transform: uppercase;
				}

				.job-title {

                    color: @grey-medium;
                    letter-spacing: 0.75px;
				}

				.job-metas {
				}
			}

			.page-nav {
				display:none;

				.previous, .next {
					cursor: pointer;
					display: inline-block;
				}
			}
		}

		.infos-body {
			padding: 0 @margin;
			width: 100vw;

			a {display: inline;}

            .image-caption {
				width: calc(~"@{menuW} - @{margin} - @{menuOffW}");
				position: absolute;
                top: 0;
				// font-style: italic;
                color: @menubackcolor - 50%;

                p:first-child {
                    font-weight: bold;
                    padding: 2vh 0;
                }

                p:nth-child(n+2) {
                    font-size: 80%;
                    &:before {content: "• ";}
                }

                .sous-titre {
                    text-decoration: underline;
                    display: inline;
                }
			}

			.page-description {
				position: absolute;
				width: calc(~"100vw - @{menuW} - 3 * @{margin} - @{menuOffW}");
				left: calc(~"@{menuW} + @{margin}");
				padding-bottom: @margin;
			}
		}
	}
}

// .sucre .images-slider {
//     background: url("img/back-boul-light.jpg") right no-repeat;
//     background-size: contain;
// }
// .sale .images-slider {
//     background: url("img/charlisale-fon-site3-light.jpg") right no-repeat;
//     background-size: contain;
// }
