.sucre {
    .menu-items {

        &:nth-child(1):before {background-image: url("svg/sucre/bouton_charli_simple.svg");}
        &:nth-child(2):before {background-image: url("svg/sucre/bouton_pain_simple.svg");}
        &:nth-child(3):before {background-image: url("svg/sucre/bouton_patisserie_simple.svg");}
        &:nth-child(4):before {background-image: url("svg/sucre/bouton_vienoiserie_simple.svg");}

        &:hover {
            &:nth-child(1):before {background-image: url("svg/sucre/bouton_charli_active.svg");}
            &:nth-child(2):before {background-image: url("svg/sucre/bouton_pain_active.svg");}
            &:nth-child(3):before {background-image: url("svg/sucre/bouton_patisserie_active.svg");}
            &:nth-child(4):before {background-image: url("svg/sucre/bouton_vienoiserie_active.svg");}
        }

        &.active {
            &:nth-child(1):before {background-image: url("svg/sucre/bouton_charli_active.svg");}
            &:nth-child(2):before {background-image: url("svg/sucre/bouton_pain_active.svg");}
            &:nth-child(3):before {background-image: url("svg/sucre/bouton_patisserie_active.svg");}
            &:nth-child(4):before {background-image: url("svg/sucre/bouton_vienoiserie_active.svg");}
        }
    }
}


.sale {
    .menu-items {

        &:nth-child(1):before {background-image: url("svg/sale/bouton_charlisale_simple.svg");}
        &:nth-child(2):before {background-image: url("svg/sale/bouton_breakfast_simple.svg");}
        &:nth-child(3):before {background-image: url("svg/sale/bouton_brunch_simple.svg");}
        &:nth-child(4):before {background-image: url("svg/sale/bouton_lunch_simple.svg");}

        &:hover {
            &:nth-child(1):before {background-image: url("svg/sale/bouton_charlisale_active.svg");}
            &:nth-child(2):before {background-image: url("svg/sale/bouton_breakfast_active.svg");}
            &:nth-child(3):before {background-image: url("svg/sale/bouton_brunch_active.svg");}
            &:nth-child(4):before {background-image: url("svg/sale/bouton_lunch_active.svg");}
        }

        &.active {
            &:nth-child(1):before {background-image: url("svg/sale/bouton_charlisale_active.svg");}
            &:nth-child(2):before {background-image: url("svg/sale/bouton_breakfast_active.svg");}
            &:nth-child(3):before {background-image: url("svg/sale/bouton_brunch_active.svg");}
            &:nth-child(4):before {background-image: url("svg/sale/bouton_lunch_active.svg");}
        }
    }
}
