@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway.woff') format('woff'),
         url('fonts/raleway.woff2') format('woff2')
    // font-weight: normal;
    // font-style: normal;
}

// @font-face {
//     font-family: 'railway';
//     src: url('fonts/railway-webfont.woff') format('woff');
//     // font-weight: bold;
//     font-style: normal;
// }

/**** VARIABLES ****/

@basefont: 'raleway';

// **COLORS** //

@grey-dark   : #36312f;
@grey-medium : #747472;
// @grey-light  : #b1d8c0;
@grey-light  : #a0a0a0;
@white       : #ffffff;
@green       : rgb(174, 232, 107);
@black       : #000;
@menubackcolor : @white;



//****VARIABLES GENERAL****//
@textcolor: #000;

// @margin: 1vw;
@margin: 15px;

@infosWrapH-des: @menuOffW; //infos height on desktop
@infosHeaderH: @menuOffW;

@authorH: 20vh;
@menuW: 250px;
@menuOffW: 30px;
@menuOff: calc(~"-@{menuW} + @{menuOffW}");

@animDuration: 0.3s;



//*****VARIABLES MOBILES*****//
@margin-mob: 5px;
@infosWrapH-mob: 50vh; //infos height on mobile
@infosHeaderH-mob: 40px;

@menuW-mob: 100vw;
@menuOff-mob: calc(~"-@{menuW-mob} + @{menuOffW}");

@buttonSize-mob: 30px;


/******** MEDIA QUERIES ********/


// we set up width min and max for a tablet, below we load mobile query, above we use normal style
// we use min-device-width instead of min-width to make it works on android browsers (at least GS2 on Kitkat)

@md-min: 768px;
@bg-min: 1025px;


@sm-max: (@md-min - 1);
@md-max: (@bg-min - 1);

@phone:          ~"only screen and (max-device-width: @{sm-max})";
@tablet:         ~"only screen and (min-device-width: @{md-min}) and (max-device-width: @{md-max})";
@desktop:        ~"only screen and (min-device-width: @{bg-min})";

// we set up breakpoints used when user resize browser wondow

@very-small: ~"only screen and (max-device-width: 479px)";

@small-viewport:  ~"(max-width: @{sm-max})";
@medium-viewport: ~"(min-width: @{md-min}) and (max-width: @{md-max})";
@big-viewport:    ~"(min-width: @{bg-min})";


/**PROPORTIONAL FONTSIZE & LINE-HEIGHT**/

/*@media (min-width: 200px) and (max-width: 800px) {
  body {
    font-size: calc( 4pt + 2 * ( ( 100vw - 200px) / 600 )) !important;
    line-height: calc( 5.5pt + 2.75 * ( ( 100vw - 200px) / 600 )) !important;
  }
}*/


@basefontsize : 14px;
@baselineheight : 16.5px;


@media (max-width: 767px) {
  body {
    font-size: @basefontsize !important;
    line-height: @baselineheight !important;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  body {
    font-size: calc(~"@{basefontsize} + 2 * (( 100vw - 800px) / 480 )") !important;
    line-height: calc(~"@{baselineheight} + 2.75 * ( ( 100vw - 800px) / 480 )") !important;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: @basefontsize + 2 !important;
    line-height: @baselineheight + 2.75 !important;
  }
}


//* ANIMATIONS MENU *//

.menu{
	@keyframes menuOff {
	    from {left: 0;}
	    to {left: @menuOff;}
	}

	@keyframes menuOn {
	    from {left: @menuOff;}
	    to {left: 0;}
	}

	&.on {
		animation-name: menuOn;
		animation-duration: @animDuration;
		left: 0;
	}
	&.off {
		animation-name: menuOff;
		animation-duration: @animDuration;
		left: @menuOff;
	}
}


//* ANIMATIONS VIEWPORT *//

.menu{
	@keyframes viewportMenuOff {
	    from {left: @menuW;}
	    to {left: @menuOffW;}
	}

	@keyframes viewportMenuOn {
	    from {left: @menuOffW;}
	    to {left: @menuW;}
	}

	&.on ~ #viewport {
		animation-name: viewportMenuOn;
		animation-duration: @animDuration;
		left: @menuW;
	}
	&.off ~ #viewport {
		animation-name: viewportMenuOff;
		animation-duration: @animDuration;
		left: @menuOffW;
	}
}


.link {
    letter-spacing: 1px;
    font-size: 20px;
    color: @grey-medium;
    &:hover {
        text-decoration: none;
        color: @black;
    }
}
