@media @phone and (orientation: landscape),
@small-viewport {

    .menu{
    	width: @menuW-mob;

        /* The animation code */
		@keyframes menuOff {
		    from {left: 0;}
		    to {left: @menuOff-mob;}
		}

		@keyframes menuOn {
		    from {left: @menuOff-mob;}
		    to {left: 0;}
		}

		&.on {
			animation-name: menuOn;
			animation-duration: @animDuration;
			left: 0;
		}
		&.off {
			animation-name: menuOff;
			animation-duration: @animDuration;
			left: @menuOff-mob;
            overflow: visible;
		}


        .author-infos {
            float: left;
            margin-right: 30px;
        }

    	.section-menu {
            position: absolute;
            // width: 100%;
            left: 1vw;
            right: 1vw;
            bottom: 34px;

            .section-index {
                width: 95%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }

    		.menu-items {
                margin: 0;
                margin-top: @margin;
                display: flex;
                flex-direction: column;
                height: 125px;
                // flex-wrap: wrap;
                justify-content: center;
                // width: 20vw;
                // display: inline-block;
                // text-align: center;

                &:before {
                    // width: 100%;
                    margin-right: 0;
                    margin-bottom: @margin;
                    background-repeat: no-repeat;
                }
    		}
        }
    }



    .page {
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-color: #fff;
    	overflow: hidden;

    	.images-slider {
    		position: absolute;
    		top: 0;
    		right: 0;
    		// bottom: @infosHeaderH;
    		bottom: 9vh;
    		left:0;
            // background: #efefef;

    		.image-nav {
    			width: 33vw;
    			height: 100%;
    			position: absolute;
    			z-index: 1;
    			cursor: pointer;
                padding: @margin;

    			&.previous {
                    left: 0;
                    background: url("svg/sucre/fleche_charli_gauche.svg") center left no-repeat;
                }
    			&.next{
                    right: 0;
                    background: url("svg/sucre/fleche_charli_droite.svg") center right no-repeat;
                }
    		}
    	}

    	.infos-wrapper {
    		overflow: auto;
            height: 9vh;

            &.on {
                height: 9vh;
            }
            &.off {
                height: 9vh;
            }

    		.infos-header {
    			min-height: @infosHeaderH;

    			.infos-teaser {
    				width: calc(~"100vw - @{menuW} - @{margin}");
    				margin-left: calc(~"@{menuW} + @{margin}");
    				padding: @infosHeaderH / 3;
    				padding-left: 0px;
    				cursor: pointer;

    				& > * {
    					padding:  0 @margin / 8;
    					display: inline-block;
    					text-transform: uppercase;
    				}

    				.job-title {
                        color: @grey-medium;
    					font-weight: bold;
    				}

    				.job-metas {
    					// font-weight: lighter;
    				}
    			}
    		}

    		.infos-body {
    			padding: 0 @margin;
    			width: 100vw;

    			a {display: inline;}

                .image-caption {
    				width: calc(~"@{menuW} - @{margin} - @{menuOffW}");
    				position: absolute;
                    top: 0;
    				// font-style: italic;
                    color: @menubackcolor - 50%;

                    p:first-child {
                        font-weight: bold;
                        padding: 2vh 0;
                    }

                    p:nth-child(n+2) {
                        font-size: 80%;
                        &:before {content: "• ";}
                    }
    			}

    			.page-description {
    				position: absolute;
    				width: calc(~"100vw - @{menuW} - 3 * @{margin} - @{menuOffW}");
    				left: calc(~"@{menuW} + @{margin}");
    				padding-bottom: @margin;
    			}
    		}
    	}
    }

}
