@media @phone and (orientation: portrait),
only screen and (max-width: 479px) {

	body {
		// font-size: 12px;
	}

	.button {
		width: @buttonSize-mob;
		height: @buttonSize-mob;


		&.open-infos {
			display: none;
		}
	}

	.menu{
		padding: @margin;
        // padding-right: 0;
		left: @menuOff-mob;
		width: @menuW-mob;
        height: 100vh;
        overflow: auto;

		/* The animation code */
		@keyframes menuOff {
		    from {left: 0;}
		    to {left: @menuOff-mob;}
		}

		@keyframes menuOn {
		    from {left: @menuOff-mob;}
		    to {left: 0;}
		}

		&.on {
			animation-name: menuOn;
			animation-duration: @animDuration;
			left: 0;
		}
		&.off {
			animation-name: menuOff;
			animation-duration: @animDuration;
			left: @menuOff-mob;
            overflow: visible;
		}

        // .menu-content {
        //     padding: @margin;
        // }

        .author-infos {
            float: none;
            margin-right: 0px;
        }

        .menu-items {
            flex-basis: 50%;
		}


		.button {
			// right: @margin-mob;
            right: -@menuOffW;
			bottom: @margin-mob;

            &.open-menu {
                display: none; //disable button, open menu is on touch + drag on mobile
            }
		}
	}


	.page {

		.images-slider {
			bottom: 60vh;

			.image-nav {
				// display: none;
			}
		}

		.infos-wrapper {
			background-color: transparent;
			height: calc(~"60vh - 2 * @{margin-mob}");
			margin: @margin-mob;

			&.on {
				animation-name: none; //reset anim
				height: calc(~"60vh - 2 * @{margin-mob}");
			}

			&.off {
				animation-name: none; // reset anim
				height: calc(~"60vh - 2 * @{margin-mob}");
			}

			.infos-header {
				height: auto;
				min-height: 0;
				background-color: #fff;
				position: relative;
				z-index: 2;

				.buttons-wrapper {
					width: 100%;
					height: @buttonSize-mob;
					position: fixed;
					bottom: 0;
					left: 0;
					right: 0;
					top: initial;
					z-index: 3;
				}

				.infos-teaser {
					padding: @margin-mob;
					padding-left: 0px;
					width: 100%;
					margin: 0px;

					& > * {
						padding: 0px ;
						padding-bottom: @margin-mob / 2;
						display: block;
					}
				}

				.page-nav {
					display: none;
				}
			}

			.infos-body {
				padding: 0px;
				width: 100%;

				.image-caption {
					display: block;
					position: relative;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: auto;
				    // font-size: 100%;
				    padding: 5px 0;

                    p:first-child {
                        padding: 0;
                        padding-bottom: 5px;
                    }
				}

				.page-description {
					width: 100%;
				    position: relative;
                    // top: initial;
                    // bottom: 0px;
				    padding: 0px;
				    height: auto;
                    left: 0;
				}
			}
		}


		// styles for index page
		&[data-index="0"] {

			.index-col {
				display: none;
				width: 100%;
			}

		}
	}
}
