/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
  display: block;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'raleway';
  src: url('fonts/raleway.woff') format('woff'), url('fonts/raleway.woff2') format('woff2');
}
/**** VARIABLES ****/
/******** MEDIA QUERIES ********/
/**PROPORTIONAL FONTSIZE & LINE-HEIGHT**/
/*@media (min-width: 200px) and (max-width: 800px) {
  body {
    font-size: calc( 4pt + 2 * ( ( 100vw - 200px) / 600 )) !important;
    line-height: calc( 5.5pt + 2.75 * ( ( 100vw - 200px) / 600 )) !important;
  }
}*/
@media (max-width: 767px) {
  body {
    font-size: 14px !important;
    line-height: 16.5px !important;
  }
}
@media (min-width: 767px) and (max-width: 1280px) {
  body {
    font-size: calc(14px + 2 * (( 100vw - 800px) / 480 )) !important;
    line-height: calc(16.5px + 2.75 * ( ( 100vw - 800px) / 480 )) !important;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 16px !important;
    line-height: 19.25px !important;
  }
}
@keyframes menuOff {
  from {
    left: 0;
  }
  to {
    left: calc(-250px + 30px);
  }
}
@keyframes menuOn {
  from {
    left: calc(-250px + 30px);
  }
  to {
    left: 0;
  }
}
.menu.on {
  animation-name: menuOn;
  animation-duration: 0.3s;
  left: 0;
}
.menu.off {
  animation-name: menuOff;
  animation-duration: 0.3s;
  left: calc(-250px + 30px);
}
@keyframes viewportMenuOff {
  from {
    left: 250px;
  }
  to {
    left: 30px;
  }
}
@keyframes viewportMenuOn {
  from {
    left: 30px;
  }
  to {
    left: 250px;
  }
}
.menu.on ~ #viewport {
  animation-name: viewportMenuOn;
  animation-duration: 0.3s;
  left: 250px;
}
.menu.off ~ #viewport {
  animation-name: viewportMenuOff;
  animation-duration: 0.3s;
  left: 30px;
}
.link {
  letter-spacing: 1px;
  font-size: 20px;
  color: #747472;
}
.link:hover {
  text-decoration: none;
  color: #000;
}
/***DEBUG***/
/**GENERAL LESS**/
body {
  font-family: 'raleway';
  font-weight: lighter;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
a,
a:link,
a:hover,
a:visited {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu.on .open-menu,
.menu.on .menu-label,
.menu.on .button-open,
.menu.off .lang-switcher,
.menu.off .social,
.menu.off .button-close {
  display: none;
}
.menu.off .open-menu,
.menu.on .lang-switcher,
.menu.on .social {
  display: block;
}
.menu {
  position: absolute;
  left: calc(-250px + 30px);
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
}
.menu .menu-content {
  padding: 30px;
}
.menu .close-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu .menu-label {
  position: absolute;
  bottom: 5px;
  top: 0;
  right: 0;
  width: 30px;
  display: flex;
  justify-content: space-around;
}
.menu .menu-label .menu-title {
  color: #747472;
  word-break: break-all;
  position: absolute;
  font-size: 24px;
  line-height: 34px;
  width: 20px;
  text-align: center;
  bottom: 40px;
}
.menu .menu-label .open-menu {
  position: absolute;
  top: 50vh;
  padding: 5px;
  display: none;
}
.menu .album-title {
  font-size: 30px;
  line-height: 85%;
  margin-bottom: 15px;
}
.menu .album-infos {
  color: #36312f;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.menu .contact {
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
}
.menu .section-menu {
  margin-top: 30px;
}
.menu .section-menu .menu-items {
  font-family: 'raleway';
  font-size: 14px;
  letter-spacing: 1px;
  color: #747472;
  margin: 3.75px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu .section-menu .menu-items:hover {
  color: #000;
}
.menu .section-menu .menu-items.active {
  color: #000;
  font-weight: bold;
}
.menu .section-menu .menu-items.active:before {
  content: '-';
  margin-right: 0.5em;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
}
.page .images-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30px;
  left: 0;
}
.page .images-slider .slider-image {
  background-color: #fff;
}
.page .images-slider .slider-image:last-child {
  padding: 0px;
  background-blend-mode: multiply;
}
.page .images-slider .image-nav {
  width: 33vw;
  height: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  padding: 15px;
}
.page .images-slider .image-nav.previous {
  left: 0;
}
.page .images-slider .image-nav.next {
  right: 0;
}
.page .infos-wrapper {
  height: 30px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
@keyframes infosOff {
  from {
    height: 30px;
  }
  to {
    height: 30px;
  }
}
@keyframes infosOn {
  from {
    height: 30px;
  }
  to {
    height: 30px;
  }
}
.page .infos-wrapper.on {
  animation-name: infosOn;
  animation-duration: 0.3s;
  height: 30px;
}
.page .infos-wrapper.off {
  animation-name: infosOff;
  animation-duration: 0.3s;
  height: 30px;
}
.page .infos-wrapper .infos-header {
  min-height: 30px;
}
.page .infos-wrapper .infos-header .infos-teaser {
  width: calc(100vw - 250px - 15px);
  height: 30px;
  display: flex;
  align-items: center;
}
.page .infos-wrapper .infos-header .infos-teaser > * {
  padding: 0 1.875px;
  display: inline-block;
  text-transform: uppercase;
}
.page .infos-wrapper .infos-header .infos-teaser .job-title {
  color: #747472;
  letter-spacing: 0.75px;
}
.page .infos-wrapper .infos-header .page-nav {
  display: none;
}
.page .infos-wrapper .infos-header .page-nav .previous,
.page .infos-wrapper .infos-header .page-nav .next {
  cursor: pointer;
  display: inline-block;
}
.page .infos-wrapper .infos-body {
  padding: 0 15px;
  width: 100vw;
}
.page .infos-wrapper .infos-body a {
  display: inline;
}
.page .infos-wrapper .infos-body .image-caption {
  width: calc(250px - 15px - 30px);
  position: absolute;
  top: 0;
  color: #cdcdcd;
}
.page .infos-wrapper .infos-body .image-caption p:first-child {
  font-weight: bold;
  padding: 2vh 0;
}
.page .infos-wrapper .infos-body .image-caption p:nth-child(n+2) {
  font-size: 80%;
}
.page .infos-wrapper .infos-body .image-caption p:nth-child(n+2):before {
  content: "• ";
}
.page .infos-wrapper .infos-body .image-caption .sous-titre {
  text-decoration: underline;
  display: inline;
}
.page .infos-wrapper .infos-body .page-description {
  position: absolute;
  width: calc(100vw - 250px - 3 * 15px - 30px);
  left: calc(250px + 15px);
  padding-bottom: 15px;
}
@media only screen and (max-device-width: 767px) and (orientation: landscape), (max-width: 767px) {
  .menu {
    width: 100vw;
    /* The animation code */
  }
  @keyframes menuOff {
    from {
      left: 0;
    }
    to {
      left: calc(-100vw + 30px);
    }
  }
  @keyframes menuOn {
    from {
      left: calc(-100vw + 30px);
    }
    to {
      left: 0;
    }
  }
  .menu.on {
    animation-name: menuOn;
    animation-duration: 0.3s;
    left: 0;
  }
  .menu.off {
    animation-name: menuOff;
    animation-duration: 0.3s;
    left: calc(-100vw + 30px);
    overflow: visible;
  }
  .menu .author-infos {
    float: left;
    margin-right: 30px;
  }
  .menu .section-menu {
    position: absolute;
    left: 1vw;
    right: 1vw;
    bottom: 34px;
  }
  .menu .section-menu .section-index {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu .section-menu .menu-items {
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: center;
  }
  .menu .section-menu .menu-items:before {
    margin-right: 0;
    margin-bottom: 15px;
    background-repeat: no-repeat;
  }
  .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
  }
  .page .images-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 9vh;
    left: 0;
  }
  .page .images-slider .image-nav {
    width: 33vw;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    padding: 15px;
  }
  .page .images-slider .image-nav.previous {
    left: 0;
    background: url("svg/sucre/fleche_charli_gauche.svg") center left no-repeat;
  }
  .page .images-slider .image-nav.next {
    right: 0;
    background: url("svg/sucre/fleche_charli_droite.svg") center right no-repeat;
  }
  .page .infos-wrapper {
    overflow: auto;
    height: 9vh;
  }
  .page .infos-wrapper.on {
    height: 9vh;
  }
  .page .infos-wrapper.off {
    height: 9vh;
  }
  .page .infos-wrapper .infos-header {
    min-height: 30px;
  }
  .page .infos-wrapper .infos-header .infos-teaser {
    width: calc(100vw - 250px - 15px);
    margin-left: calc(250px + 15px);
    padding: 10px;
    padding-left: 0px;
    cursor: pointer;
  }
  .page .infos-wrapper .infos-header .infos-teaser > * {
    padding: 0 1.875px;
    display: inline-block;
    text-transform: uppercase;
  }
  .page .infos-wrapper .infos-header .infos-teaser .job-title {
    color: #747472;
    font-weight: bold;
  }
  .page .infos-wrapper .infos-body {
    padding: 0 15px;
    width: 100vw;
  }
  .page .infos-wrapper .infos-body a {
    display: inline;
  }
  .page .infos-wrapper .infos-body .image-caption {
    width: calc(250px - 15px - 30px);
    position: absolute;
    top: 0;
    color: #cdcdcd;
  }
  .page .infos-wrapper .infos-body .image-caption p:first-child {
    font-weight: bold;
    padding: 2vh 0;
  }
  .page .infos-wrapper .infos-body .image-caption p:nth-child(n+2) {
    font-size: 80%;
  }
  .page .infos-wrapper .infos-body .image-caption p:nth-child(n+2):before {
    content: "• ";
  }
  .page .infos-wrapper .infos-body .page-description {
    position: absolute;
    width: calc(100vw - 250px - 3 * 15px - 30px);
    left: calc(250px + 15px);
    padding-bottom: 15px;
  }
}
@media only screen and (max-device-width: 767px) and (orientation: portrait), only screen and (max-width: 479px) {
  .button {
    width: 30px;
    height: 30px;
  }
  .button.open-infos {
    display: none;
  }
  .menu {
    padding: 15px;
    left: calc(-100vw + 30px);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* The animation code */
  }
  @keyframes menuOff {
    from {
      left: 0;
    }
    to {
      left: calc(-100vw + 30px);
    }
  }
  @keyframes menuOn {
    from {
      left: calc(-100vw + 30px);
    }
    to {
      left: 0;
    }
  }
  .menu.on {
    animation-name: menuOn;
    animation-duration: 0.3s;
    left: 0;
  }
  .menu.off {
    animation-name: menuOff;
    animation-duration: 0.3s;
    left: calc(-100vw + 30px);
    overflow: visible;
  }
  .menu .author-infos {
    float: none;
    margin-right: 0px;
  }
  .menu .menu-items {
    flex-basis: 50%;
  }
  .menu .button {
    right: -30px;
    bottom: 5px;
  }
  .menu .button.open-menu {
    display: none;
  }
  .page .images-slider {
    bottom: 60vh;
  }
  .page .infos-wrapper {
    background-color: transparent;
    height: calc(60vh - 2 * 5px);
    margin: 5px;
  }
  .page .infos-wrapper.on {
    animation-name: none;
    height: calc(60vh - 2 * 5px);
  }
  .page .infos-wrapper.off {
    animation-name: none;
    height: calc(60vh - 2 * 5px);
  }
  .page .infos-wrapper .infos-header {
    height: auto;
    min-height: 0;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
  .page .infos-wrapper .infos-header .buttons-wrapper {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: initial;
    z-index: 3;
  }
  .page .infos-wrapper .infos-header .infos-teaser {
    padding: 5px;
    padding-left: 0px;
    width: 100%;
    margin: 0px;
  }
  .page .infos-wrapper .infos-header .infos-teaser > * {
    padding: 0px ;
    padding-bottom: 2.5px;
    display: block;
  }
  .page .infos-wrapper .infos-header .page-nav {
    display: none;
  }
  .page .infos-wrapper .infos-body {
    padding: 0px;
    width: 100%;
  }
  .page .infos-wrapper .infos-body .image-caption {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  .page .infos-wrapper .infos-body .image-caption p:first-child {
    padding: 0;
    padding-bottom: 5px;
  }
  .page .infos-wrapper .infos-body .page-description {
    width: 100%;
    position: relative;
    padding: 0px;
    height: auto;
    left: 0;
  }
  .page[data-index="0"] .index-col {
    display: none;
    width: 100%;
  }
}
